body {
    background-color: aliceblue;
    margin: 1em;
}

.navbar {
    max-width: 100%;
    height: auto;
    /*background-image: url("https://images.pexels.com/photos/9365612/pexels-photo-9365612.jpeg?auto=compress&cs=tinysrgb&w=600");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-nav {
    margin-left: 150px;
}

.nav-item a {
    font-weight: bold;
    font-size: 20px;
}

.nav-item a:hover {
    color: indigo;
    font-style: italic;
    font-weight: bold;
}


/*   logo */

.navbar-brand img {
    max-width: 30%;
    background-color: lightgray;
}

.navbar-brand img:hover {
    filter: opacity(0.8);
}

h3 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: start;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    cursor: pointer;
    background-color: lightgray;
    margin-bottom: 10px;
}

.galeria {
    columns: 5 320px;
    column-gap: 1em;
    object-fit: cover;
}

.galeria img:hover {
    filter: opacity(0.9);
}


/* footer */

#logo-footer {
    max-width: 15%;
}

@media screen and (max-width: 400px) {
    img {
        margin-bottom: 5px;
    }
    h1 {
        font-size: 18px;
    }
    .navbar-nav {
        margin-left: 120px;
    }
    ul.nav li {
        margin-top: 20px;
        padding: 5px;
    }
    .text-muted {
        margin-right: 5px;
    }
}