body {
    background-color: #FFFFFF;
    margin: 1em;
}

.navbar {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-link {
    border-radius: 20px;
}

.navbar-nav {
    margin-left: 150px;
}

.nav-item a {
    font-weight: bold;
    font-size: 20px;
}

.nav-item a:hover {
    color: indigo;
    font-style: italic;
    font-weight: bold;
}


/*   logo */

.navbar-brand img {
    max-width: 30%;
    background-color: lightgray;
}

.navbar-brand img:hover {
    filter: opacity(0.8);
}

h3 {
    text-align: start;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 80%;
    cursor: pointer;
    background-color: black;
    margin-bottom: 10px;
}

.galeria {
    columns: 5 320px;
    column-gap: 1em;
    object-fit: cover;
}

.galeria img:hover {
    filter: opacity(0.9);
}


/* footer */

.text-logo {
    margin-left: 5px;
    margin-right: 5px;
}

#logo-footer {
    max-width: 15%;
}

@media screen and (max-width: 687px) {
    img {
        margin-bottom: 10px;
        max-width: 30%;
        margin-left: 3px;
        margin-right: 3px;
    }
    .navbar-nav {
        margin-left: 50px;
    }
    .nav-link {
        border-radius: 20px;
        margin-bottom: 20px;
        width: 75%;
    }
    .nav-item {
        margin-left: 10px;
    }
    h1 {
        font-size: 18px;
    }
    .navbar-nav {
        margin-left: 60px;
    }
    ul.nav li {
        margin-top: 20px;
        padding: 5px;
    }
    .text-muted {
        margin-right: 5px;
    }
}

@media screen and (max-width: 398px) {
    img {
        margin-bottom: 10px;
        max-width: 33%;
        margin-left: 30px;
        margin-right: 3px;
    }
    .navbar-nav {
        margin-left: 20px;
    }
    ul.nav li {
        margin-top: 20px;
        padding: 5px;
    }
    .text-muted {
        margin-right: 5px;
    }
    .navbar-brand img {
        max-width: 30%;
        background-color: lightgray;
        margin-left: 100px;
    }
}